body {
    width: 100%;
    height: 100%;
    background-image: url("/public/images/banner.svg");
    background-repeat: repeat;
    background-size: cover ;
}
#main{
    width: 100%;
    height: 100%;
    margin-top: 16rem;
}

label
 {
    font-size: 1.5rem;
}
#lnksemcadastro{
    font-size:1.8rem;
}
a{
    text-decoration: none;
}

@media only screen and (max-width:767px) {
    #lnksemcadastro{
        font-size: 1.4rem;
    }
}
@media (min-width: 1200px){
    #acesso{
        width: 60%;
        height: 100%;
    }
}

@media (min-width: 1200px) and (min-height: 1200px) {
    button,input,a,label {
        font-size:2rem!important;
    }
    span,i,label{
        font-size: 2rem !important;
    }
    input{
        padding:2rem !important
    }

    spam.input-group-text{
        font-size: 2.4rem!important
    }
    #lnksemcadastro,h1{
        font-size: 3.3rem !important;
    }
}