
#left {
  background-color: rgba(192, 192, 192, 0.2);
}
#logo {
  width: 100%;
  margin: 1rem;
}
#buttonnav{
  outline:none !important;
}
#buttonnav:focus,
#buttonnav:focus-within{
  border-color: #007bff!important;
}
#pasta,
#pessoa,
#engrenagem,
#desliga {
  color: #c7cadd;
  font-size: 2rem;
  text-align: left;
  margin-bottom: 6rem;
}

#email_Usu,#usuario{
  color: black;
  font-size: 1.5rem;
}

#menu {
  margin-top: 8rem;
  margin-left: 2rem;
  width: 100%;
}

#menu > div > a,
#menu > div > a:visited {
  text-decoration: none;
  color: #8da1b5;
}

.ative {
  color: #007bff !important;
}
#menu div a:hover {
  color: black;
}
#menu div i,
#menu div span {
  margin-right: 1rem;
}

@media (max-width: 767.98px) {
  li a,
  li a:visited,
  li a:active {
    text-decoration: none;
    color: #8da1b5;
  }
  li a:active {
    text-decoration: underline;
  }
  li a:hover{
    text-decoration: none;
    color:gray;
  }
  li a i:hover{
    color: gray !important;
  }
  #menu div span {
    margin-right: 0;
  }
  #left {
    box-sizing: border-box;
    padding-top: 1rem;
    height: maximus;
  }
  #right {
    height: maximus;
    margin: 1rem;
  }
  #logoimg {
    width: 20%;
    height: 2%;
  }
  #telfone,
  #email,
  #celular,
  #SenhaAtual,
  #Senha1,
  #Senha2 {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 991.98px) and (min-height: 576px) {
  #logoimg {
    width: 20%;
    height: 2%;
  }
}
@media (max-width: 991.98px) and (max-height: 576px) {
  #logo {
    width: 60%;
    margin: 1rem;
  }
}

@media (min-width: 991.98px) and (min-height: 576px) {
  #logo {
    width: 60%!important;
    margin: 1rem;
  }
}
@media (max-width: 1200px) and (max-height: 576px){
  #logo {
    width: 60%;
  }
}
@media (min-width: 1200px) and (min-height: 576px) {
  #logo {
    width: 60%;
  }
}
