
#right {
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  margin-left: 1rem;
}

.collapsible {
  margin-top: 10px;
  margin-bottom: 16px;
  background-color: #c0c0c0;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-weight: 600;
}

.active, .collapsible:hover {
  background-color: #007bff; 
}

.collapsible:after {
  content: '\002B';
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content, .content2{
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color:#fffafa ;
}


.content p,.content2 p {
  display: flex;
  margin-top: 20px;
}
.content img{
  margin-bottom: 1rem;
}

.content .descricao,.content2 .descricao {
  margin-left: 20px;
  text-align: justify;
}

/*dispositivos tipo telefones com telas grandes na orientação horizontal*/
@media (min-width: 768px) and (max-height: 576px) {
  span#usuario, span#email_Usu{
    font-size: 1rem !important;
  }
}

@media only screen and (max-width: 991.98px) and (min-height: 576px){
  #menu div span {
    margin-right: 0;
    margin-top: 0;
  }
  #left {
    padding: 0;
    margin:0;
    padding-top: 1rem;
  }
  #menu {
    padding: 0;
    margin-left: 0;
  }
  #left{
    min-height: 100vh;
    max-height: 100%;
  }
  .content .descricao, .content2 .descricao{
    margin-left:0;
  }
  .content img {
    margin-bottom: initial!important;
    max-width: 350px!important;
    max-height: 180px!important;
    width: auto!important;
    height: auto!important;
  }
  #usuario,#email_Usu{
    font-size:1.4rem!important;
  }
  #menu span{
    font-size:1.1rem!important;
  }
  
}
/*ipad pro - laptop m*/
@media (min-width: 991.98px) and (min-height: 576px) {
  #left{
    min-height: 100vh;
    max-height: 100%;
  }
  .content p,.content2 p, span,button.collapsible {
    font-size: 1.4rem;
  }
  
  .content img {
    margin-bottom: initial!important;
    max-width: 250px!important;
    max-height: 385px!important;
    width: auto!important;
    height: auto!important;
  }
  
}

@media (min-width: 1200px) { 
  .content .imagem-e-descricao {
    display: flex!important;
  }
  .content img {
    margin-bottom: initial!important;
    max-width: 250px!important;
    max-height: 185px!important;
    width: auto!important;
    height: auto!important;
  }
 }
@media (min-width: 1200px) and (max-height: 576px) {
}
@media (min-width: 1200px) and (min-height: 576px) {
  
}
@media (min-width: 1200px) and (min-height: 1200px) {
  .content img {
    margin-bottom: initial!important;
    max-width: 550px!important;
    max-height: 385px!important;
    width: auto!important;
    height: auto!important;
  }
  .content{
    margin-bottom: 4rem!important;
  }
  .content p,.content2 p, span {
    font-size: 2.4rem;
  }
  strong{
    font-size: 3rem;
  }
  button.collapsible{
    font-size: 2.5rem;
  }
   #usuario,#email_Usu{
    font-size: 3rem!important;
  }
  #menu span,#menu i{
    font-size: 4rem!important;
  }
}