#right {
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  margin-left: 1rem;
  min-height: 100vh;
  max-height: 100%;
}

#left {
  min-height: 100vh;
  max-height: 100%;
}

#menu {
  padding: 0;
}

@media only screen and (max-width: 991.98px) and (min-height: 576px) {
  #menu div span {
    margin-right: 0;
    margin-top: 0;
  }

  #left {
    padding-top: 1rem;
  }
  #menu {
    padding: 0;
    margin-left: 0;
  }
  #right {
    margin: 1rem;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    font-size: 1rem !important;
  }
  #logo{
    padding: 1rem !important;
  }
  span#email_Usu{
    font-size:clamp(0.7rem,0.8rem,0.9rem)!important;
  }
  span#usuario {
    font-size: 1rem !important;
  }
  #menu span{
    font-size:1.1rem!important;
  }
}
@media (max-width: 991.98px) and (max-height: 576px) {
  #right {
    margin: 1rem;
  }
  #logo img.img-fluid {
    margin-top: 1rem;
    margin-left: 3rem !important;
  }
  #logo {
    padding: 0 !important;
    margin: 0 !important;
  }
  span#email_Usu{
    font-size:clamp(0.8rem,0.9rem,1rem)!important;
    margin-left: 0.4rem;
  }
  span#usuario {
    font-size: 1rem !important;
  }
  span#usuario {
    margin-left: 4rem !important;
  }
}

/*ipad pro*/
@media (min-width: 991.98px) and (min-height: 576px) {
  #left {
    padding-top: 1rem;
  }
  #right {
    margin: 1rem;
  }
  #main,
  textarea {
    font-size: 1.3rem;
  }
  button {
    font-size: 1.3rem !important;
  }
  small {
    font-size: 1rem;
  }
  #logo img.img-fluid {
    margin-top: 1rem;
    margin-left: 3rem !important;
  }
  #logo {
    padding: 0 !important;
    margin: 0 !important;
  }
  span#email_Usu{
    font-size:clamp(1rem,1.1rem,1.2rem)!important;
    margin-left:2rem !important;
  }
  span#usuario {
    font-size: 1.4rem !important;
  }
  span#usuario {
    margin-left: 4rem !important;
  }
}

@media (min-width: 1200px) and (max-height: 576px) {
  small {
    font-size: 0.9rem;
  }

}

@media (min-width: 1200px) and (min-height: 576px) {
  #usuario {
    margin-left: 4rem !important;
  }
  #email_Usu{
    margin-left: 2.5rem !important;
  }
}

@media (min-width: 1440px) and (min-height: 1440px) {
  body,
  button {
    font-size: 3rem !important;
  }
  h1 {
    font-size: 6rem !important;
  }
  input[type="text"],
  input[type="email"] {
    font-size: 2rem !important;
    padding: 3rem !important;
  }
  textarea {
    font-size: 3rem !important;
  }
  i,
  small,
  label {
    font-size: 2rem !important;
  }
  form span,
  label.lead {
    font-size: 2.3rem !important;
  }

  #left {
    padding-top: 1rem;
  }
  #logo img.img-fluid {
    margin-top: 1rem;
    margin-left: 6rem !important;
  }
  #logo {
    padding: 0 !important;
    margin: 0 !important;
  }
  #logo span#usuario {
    font-size: 3rem !important;
  }
  #logo span#usuario {
    margin-left: 8rem !important;
  }
  span#email_Usu {
    font-size: clamp(2rem,2.5rem,2.5rem) !important;
  }
  #menu div{
    margin-bottom: 20rem!important;
  }
  #menu span, #menu i {
    font-size: 4rem !important;
  }
}
