*:focus {
  outline: 1px solid #007bff;
}
#right {
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  margin-left: 1rem;
  width: 100%;
  height: maximus;
  width: 100%;
}
#menu {
  padding: 0;
}

#email_Usu,
#usuario {
  font-size: 1rem !important;
}

@media only screen and (max-width: 991.98px) and (min-height: 576px) {
  #menu div span {
    margin-right: 0;
    margin-top: 0;
  }
  #left {
    padding-top: 1rem;
  }
  #menu {
    padding: 0;
    margin-left: 0;
  }
  #right {
    margin: 1rem;
    height: 100vh;
  }
  input {
    font-size: 1rem !important;
  }
}
@media (max-width: 991.98px) and (max-height: 576px) {
  #left {
    padding-top: 1rem;
    height: maximus;
  }
  #right {
    margin: 1rem;
    height: maximus;
  }
}

@media (min-width: 991.98px) and (min-height: 576px) {
  #left {
    padding-top: 1rem;
    height: 100vh;
  }
  #right {
    margin: 1rem;
    height: 100vh;
  }
  body {
    font-size: 1.5rem;
  }
  small {
    font-size: 1rem;
  }
  #email_Usu,
  #usuario {
    font-size: 1.5rem !important;
  }
}

@media (min-width: 1200px) and (max-height: 576px) {
  small {
    font-size: 0.9rem;
  }
}

@media (min-width: 1200px) and (min-height: 576px) {
  #right {
    height: 100vh;
  }
  #left {
    height: 100vh;
  }
}

@media (min-width: 1200px) and (min-height: 1200px) {
  body,
  button {
    font-size: 2rem !important;
  }
  input {
    font-size: 1.9rem !important;
    padding: 1rem !important;
  }
  i,
  small {
    font-size: 1.5rem;
  }
  #spanEmail {
    font-size: 1.7rem;
    font-style: bold;
  }
}
